*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header{
    background-color: black;
}
#section{
    width: 60vw;
    height: 87vh;
    float: left;
    padding: 3vh 3vw 3vh 5vw;
    background: linear-gradient(rgb(0, 0, 0) 40%, rgb(44, 44, 49) 100%, rgb(62, 68, 70) 100%);
}
#aside{
    width: 24.99vw;
    height: 87vh;
    float: right;
    padding: 3vh 5vw 3vh 2vw;
    background: linear-gradient(rgb(0, 0, 0) 40%, rgb(44, 44, 49) 100%, rgb(62, 68, 70) 100%);
}
#main{
    display: flex;
}
iframe{
    width: 60vw;
    height: 70vh;
}
.suggestion-container{
    width: 22vw;
    height: 13vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    justify-items: center;
}
.thumbnail, .thumbnail img{
    width: 9rem;
    height: 6rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
#header-container{
    display: flex;
    height: 5rem;
    align-items: center;
    gap: 15vw;
}
#start{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#start button{
    background: none;
    cursor: pointer;
}
#searchBar{
    display: flex;
}
#searchBar input{
    width: 35vw;
    height: 2.4rem;
    background: none;
    border: 1.7px solid rgb(46, 46, 46);
    border-radius: 1rem 0rem 0rem 1rem;
    -webkit-border-radius: 1rem 0rem 0rem 1rem;
    -moz-border-radius: 1rem 0rem 0rem 1rem;
    -ms-border-radius: 1rem 0rem 0rem 1rem;
    -o-border-radius: 1rem 0rem 0rem 1rem;
    font-size: 1.2rem;

}
#searchBar button{
    width: 3.5rem;
    background: rgb(39, 39, 39);
    border: 1.7px solid rgb(46, 46, 46);
    border-left: 0;
    border-radius: 0rem 1rem 1rem 0rem;
    -webkit-border-radius: 0rem 1rem 1rem 0rem;
    -moz-border-radius: 0rem 1rem 1rem 0rem;
    -ms-border-radius: 0rem 1rem 1rem 0rem;
    -o-border-radius: 0rem 1rem 1rem 0rem;
    cursor: pointer;
}
